.footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.podcast-file {
    margin-top:20px;
    margin-bottom: 20px;
}

h1 a {
 color:#333;
}

h1 a:hover,
h1 a:focus {
  color: #444;
  text-decoration: none;
}

h2 a:hover,
h2 a:focus {
  text-decoration: none;
}

a.icon,
a.icon:hover,
a.icon:focus {
  text-decoration: none;
}

.lead .btn {
    margin-bottom: 10px;
}
