
<footer class="footer">
    <div class="container">
        <div>
            <small class="text-muted pull-left">&copy; weirdtrickmafia.fm {{ now.Format "2006" }}</small>
            <div class="text-right">
                <a class="icon" href="">
                    <i class="fab fa-google-play"></i>
                </a>
                <a class="icon" href="">
                    <i class="fab fa-itunes-note"></i>
                </a>
                <a class="icon" href="">
                    <i class="fa fa-podcast"></i>
                </a>
                <a class="icon" href="https://github.com/jessfraz/weirdtrickmafia.fm">
                    <i class="fab fa-github"></i>
                </a>
                <a class="icon" href="https://twitter.com/weirdtrickmafia">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="icon" href="https://weirdtrickmafia.fm/post/index.xml">
                    <i class="fa fa-rss"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-29404280-22"></script>
<script>
    window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-29404280-22');
</script>

</body>
</html>
